[submodule "pygetscope"]
	path = pygetscope
	url = git@code.ini.uzh.ch:ncs/libs/pygetscope.git
[submodule "pyspcmscope"]
	path = pyspcmscope
	url = https://glpat-VCbDpAxzn1Smdsv9SWdK@code.ini.uzh.ch/sapta/pyspcmscope.git
