[submodule "pygetscope"]
	path = pygetscope
	url = https://code.ini.uzh.ch/ncs/libs/pygetscope.git
[submodule "pyspcmscope"]
	path = pyspcmscope
	url = https://code.ini.uzh.ch/ncs/libs/pyspcmscope.git
