.gitmodules
Lab5_P1_new.ipynb
.ipynb_checkpoints/
example/.ipynb_checkpoints/
hun
igruenberg/trial_plots/
__pycache__
build
*.log
*.ini
*.nwb
*.h5
samna_info.json
igruenberg/EI.png
igruenberg/spike_plots
igruenberg/spike_plots_straight
igruenberg/spike_plots_left/
igruenberg/spike_plots_right/
igruenberg/spike_plots_right_raw/
igruenberg/spike_plots_straight_a/
igruenberg/spike_plots_cl_straight-503/
igruenberg/spike_plots_ol_1-503/
igruenberg/*csv
igruenberg/spike_plots_straight_b-489/
igruenberg/spike_t_isi.csv1_0
