.gitmodules
Lab5_P1_new.ipynb
.ipynb_checkpoints/
example/.ipynb_checkpoints/
hun
igruenberg/trial_plots/
__pycache__
build
*.log
*.ini
*.nwb
*.h5
samna_info.json
igruenberg/all_spike_times.csv
igruenberg/all_spikes_ids.csv
igruenberg/turn_left_spike_ids.csv
igruenberg/turn_left_spike_times.csv
igruenberg/turn_right_spike_times.csv
igruenberg/turn_right_spikes_ids.csv
igruenberg/EI.png
igruenberg/trial_list.csv
igruenberg/spike_plots
igruenberg/time.csv
